<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: lightblue;
}
.topmenu
{
    background-color:rgb(148, 144, 144);
    padding:100;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%
}
.topmenu a {
     float: left;
    display: block;
    color: #080808;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 20px;
}
.topmenu a:hover{
background-color:rgb(66, 64, 64);
color:rgb(253, 253, 253);
}
p
{
    font-family:oblique;
    font-size:15px;s
}
.topmenu a.active {
    background-color: black;
  color: white;
}

</style>
</head>


</html>